/** VARIABLES **/

$orange: #feaf00;

$light-yellow: #fefbec;
$yellow: #f8d442;

$black: #000;
$white: #fff;

$blue: #74c1ed;
$light-blue: #f0f9ff;

$pink: #ee95c5;
$light-pink: #fef6fb;

$sidebar-bg: #f2eae1;

$gray-100: #f8f8f8; // hsl(0, 0%, 97%)
$gray-200: #e5e5e5; // hsl(0, 0%, 90%)
$gray-300: #cdcdcd; // hsl(0, 0%, 80%)
$gray-400: #c4c4c4; // hsl(0, 0%, 77%)
$gray-500: #9fa2b4; // hsl(231, 12%, 66%)
$gray-600: #6c6c6c; // hsla(0, 0%, 42%, 1)
