.logo {
    color: $black;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    padding: 2px;
    &::before {
        content: "";
        position: absolute;
        width: 6px;
        max-height: 39px;
        height: 100%;
        background-color: $yellow;
        top: 0;
        left: -12px;
    }
}
