.sidebar {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-height: 100vh;
    flex-shrink: 0;
    background-color: $sidebar-bg;
    padding: 24px 18px;

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 36px;

        h2 {
            color: $black;
            font-size: 17px;
            font-weight: 700;
            margin-top: 16px;
        }

        p {
            color: $orange;
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
        }

        .profileImage {
            position: relative;
            height: 128px;
            width: 128px;
            border-radius: 9999px;
            overflow: hidden;
            object-fit: cover;
        }

        .profileBody {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 88px;
        gap: 20px;

        .navItem {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0px 40px;
            height: 42px;
            border-radius: 4px;
            width: 192px;
            border-radius: 4px;
            gap: 16px;
            p {
                color: $black;
                font-size: 14px;
                font-weight: 500;
            }

            &:hover {
                background: $orange;
            }

            &:last-child {
                margin-top: auto;
            }
        }

        .active {
            background: $orange;
        }
    }
}
